# 复制为 application-local.yml 后按需修改（该文件已被 gitignore）
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/biotree?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=utf8&serverTimezone=UTC
    username: biotree
    password: biotree

app:
  storage:
    type: local
    local:
      base-path: ./data/files
